@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: #e0e8ff;
  background-image: url(./images/pattern-background-desktop.png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: white;
  width: 450px;
  border-radius: 20px;
  overflow: hidden;
}

.wrapper {
  padding: 45px 48px 48px;
}

h1 {
  color: #1f2e55;
  text-align: center;
  font-weight: 900;
  font-size: 28px;
}

.desc {
  color: #1f2e55;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 17px;
}

.music-container {
  border-radius: 11px;
  background: #f7f9ff;
  display: flex;
  padding: 25px 24px;
  align-items: center;
  margin-top: 20px;
}

.music-container div {
  padding: 0 94px 0 20px;
}

.music-container img {
  height: 48px;
  width: 48px;
}

.music-container div h2 {
  font-size: 16px;
  width: 92px;
}

.music-container div span {
  color: #717fa6;
  font-weight: 500;
}

.change {
  color: #382ae1;
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;
}

.paymant {
  width: 100%;
  margin-top: 20px;
  padding: 15px 0;
  border-radius: 11px;
  background: #382ae1;
  color: white;
  font-weight: 900;
  border: none;
  box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
}

.cancelation {
  all: unset;
  width: 100%;
  text-align: center;
  color: #717fa6;
  font-size: 15px;
  font-weight: 900;
  margin-top: 32px;
}

.paymant:hover {
  opacity: 0.5;
  cursor: pointer;
}

.cancelation:hover {
  cursor: pointer;
}

.change:hover {
  cursor: pointer;
}
